#image1{
    display: block;
    margin-left: 700px;
    margin-top: -500px;
    position: static;
    width: 70%;
    height:70%;
    max-height: 50vw;
}
 #button{
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
}

#button:hover {
                background-color: purple;
                color: white;
}

#button:active {
    background-color: #3d033f;
    color:white;
    box-shadow: 0 5px rgb(122, 122, 122);
    transform: translateY(4px);
}

.profile hr {
  border: 0.5px solid lightgray;
  width: 50%;
}

#image2 {

  display: block;
  margin: 50 auto 0 auto;
  width: 80%;
}

#logo {
  display: block;
  margin: 50 auto 0 auto;
  width: 80%;
  max-width: 450px;

}