body {
    font-size: 20px;
    color: black;
    margin: 0;
}

#base {
    font-family: Helvetica, sans-serif;
    background-color: #c7dfff;
    text-align: left;
}

#base h1 {
    padding-left: 30px;
}

p {
    text-align: left;
}

h1 {
    text-align: left;
}

#header h1 {
    padding-top: 20px;
    text-align: center;
    background-color: white;
    padding-bottom: 10px;
    color: black;
    border:1px solid #ccc;
    margin: 0 150 0 150;
}

#topmenu {
    max-width: 100%;
    background-color: black;
    overflow: auto;
    margin-top: 0px;
    margin: 0px 150 0px 150;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}

#topmenu a {
    float: left;
    text-align: center;
    width: 25%;
    text-decoration: none;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;

}
#topmenu a:hover {
    background-color: #0c4692;
}

.pic {
    max-width: 600px;
    object-fit: right;
    z-index: 1;
}







.blt {
    margin-left: 5px;
}


#title {
    text-align: center;
}

label {
    text-align: left;
}

#form {
    text-align: left;
}

ul {
    margin-top: 2px;
}
 button{
        display: inline-block;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
}

button:hover {
                background-color: #0c4692;
                color: white;
}

button:active {
                background-color: #2d048d;
                color:white;
                box-shadow: 0 5px rgb(122, 122, 122);
                transform: translateY(4px);
}