body {
    background-color: #6d6e9c;
    text-align: center;
    color: black;
}
.main {
    border:1px solid #ccc;
    max-width: 100%;
    height: 100%;
    background-color: white;
    padding: 30px;
    margin: 0 150 0 150;
}
.main h1 {
    text-align: center;
}
.main .text {
    color: black;
}

#find_title {
    text-align: center;
}
#chose_interest {
    height: 5%;    
}
#dropbox{
    font-size: 25px;
}
.choose{
    font-size: 25px
}