body {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    background-color:  #6d6e9c;
    text-align: left;
}

p {
    text-align: left;
}

h1 {
    text-align: left;
}

#topmenu {
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: right;
}

a {
    text-decoration: underline;
    color: white;
}

a:hover {
    text-decoration: none;
    color:pink;
}

hr {
  border: 0.5px solid lightgray;
}


input[type=text] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#profile {
    margin-top: 50px;
    border:1px solid #ccc;
    width: 50%;
    background-color: white;
    padding: 16px;
}

label {
    text-align: left;
}

#form {
    text-align: left;
}