body {
    background-color: #6d6e9c;
    text-align: center;
    color: black;
}
.main {
    border:1px solid #ccc;
    max-width: 100%;
    height: 100%;
    background-color: white;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
}
.main h1 {
    text-align: center;
}
.main .text {
    color: black;
}

#find_title {
    text-align: center;
}
#chose_interest {
    height: 5%;    
}