ul {
    font-size: 25px;
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    padding: 5 5 5 5;
    max-height: 200px;

}

.profile hr {
  border: 0.5px solid lightgray;
  width: 70%;
}

#column1 {
    float: left;
    width: 35%;
}