<html>
    <head>
        <link rel="stylesheet" href="/i/style_isa.css">
    </head>
    <body id="base">
        <div id="header">
            <h1>Friends Finder</h1>
        </div>

        <div id="topmenu">
            {% if logout_url %}
            <a class="box" href="/"><b>Home</b></a>
            <a class="box" href="/profile-view"><b>View Profile</b></a>
            <a class="box" href="/profile-edit"><b>Edit Profile</b></a>
            <a class="box" href="{{logout_url}}"><b>Logout</b></a>  
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>