<html>

    <head>
        <h1> THIS IS WHERE YOU FIND NEW FRIENDS! <h1>
        
        
        <form id="chose_interest" method="post">

            <label for="interest_wanted"><b>Chose an interest</b></label>
            
            <select id='interest_wanted'>              
                {% for interest in user_interest %}
                    <option value='{{interest}}'> {{interest}}</option>
                    {% endfor %}
                </select>

            <button type="submit">Submit</button>

            </form>



            <ul list-style-type="None">

            {% for prospect in prospects %}

                <li>{{prostect.0}} {{prospect.1}} {{prospect.2}}</li>

                {% endfor %}

                </ul>

        </head>

    </html>