<html>
<head>
    <link rel="stylesheet" href="/i/style_login.css">
</head>

<body><center>
<form method="post" action="/mainpage">
    <div class="container">
      <h1 class="text" >Login Here</h1>
      <p class="text" >Please fill in this form to login.</p>
      <hr>
      <label for="email"><b >Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <p class="text" >Don't have an account? Make one <a href="/make-account">here</a>.</p>
      <div class="clearfix">
          <button type="submit" class="signupbtn">Sign Up</button>
      </div>

    </div>
</form>
</center>
</body>

</html>