<html>
    {% extends "_base.html" %}
    {% block content %}
     <head>
        <style>
            .window {
                width: 48%;
                height: 70%;
            }
            body {
                background-color: #6d6e9c;
                text-align: center;
                color: white;
            }
            </style>
        </head>
    <body>
        {% if login_url %}
            <h3>Login to see your feed</h3>
            <a href="{{login_url}}">Login</a><br><br><br>
            {% endif %}
        {% if logout_url %}
            <h1 id="title"><b>Your Feed</b></h1>
            <iframe  class="window" src="/find_friends"></iframe>
            <iframe  class="window" src="/your_friends" align="right"></iframe>
            <br><br><br><br>
            {% endif %}
        </body>
    
        {% endblock %}
    </html>