<html>
    {% extends "_base.html" %}
    {% block content %}
    <head>
        <link rel="stylesheet" href="/i/style_main.css">
    </head>
    <body>
        <div class="main">
          {% if login_url %}
            <h3 class="text">Login to see your feed</h3>
            <a class="text" href="{{login_url}}">Login</a><br><br><br>
          {% endif %}
          
          
          {% if logout_url %}

            <h1 class="text"> Welcome to FriendFinder! <h1>
            <h2 class="text">Find friends with similar interests! Just select an interest!</h2>
        
            <form method="get" action='/'>
              <label class="text"><b>Choose an interest</b></label> 
              <select id="dropbox" name='interest_wanted' id='chose_interest'> 
                <option selected='selected' value="">  </option>             
                  {% for interest in user_interest %}
                    <option value='{{interest}}'> {{interest}}</option>
                  {% endfor %}
                  </select>
              <button type="submit">Submit</button>
            </form>

            <ul style="list-style: none;">
              {% for prospect in prospects %}
                <li class="text"> {{prospect.first_name}} {{prospect.last_name}} {{prospect.email}} </li>
              {% endfor %}
            </ul>
          
            <br><br>
          {% endif %}

        </body>
    
        {% endblock %}
    </html>