<html>
    {% extends "_base.html" %}
    {% block content %}

<head>
    <link rel="stylesheet" href="/i/style_isa.css">
</head>

<body><center>
    <div id="profile">
        <h1 class="text" >Profile</h1>

        <hr>

        <p><b>Name: </b> {{first_name}} {{last_name}}</b></p>

        <label id="interests"><b>Interests:</b></label>
        <ul>
        {% for interest in interest_list %}

        <li>{{interest}}<br>

        {% endfor %}
        </ul>

        <!-- function to print out the elements of the interest list -->

        <p><b>Address: </b>{{city}}, {{state}}</p>
    </div>
</form><br><br><br><br><br><br><br>
</center>
</body>
{% endblock %}

</html>