    {% extends "_base.html" %}
    {% block content %}
<head>
    <link rel="stylesheet" href="/i/style_view.css">
</head>
<body>
    <div class="profile">
        <div id="column1">

            <h1 class="text" >Your Profile</h1>

            <hr>
            
            <p class="text"><b>Name: </b>{{first_name}} {{last_name}}</p>

            <label class="text" id="interests"><b>Interests:</b></label>

            <ul>
            {% for interest in interest_list %}
                    <li>{{interest.interest}}</li>
            {% endfor %}
            </ul>
        </div>
        <div id="column2">
            <div id="images">
                {% for interest in interest_list %}
                    <img src="{{interest.image}}"></td>
                {% endfor %}
            </div>
        </div>
        

        <!--
        <table>
            {% for interest in interest_list %}
                <tr>
                    <td>{{interest.interest}}</td>
                    <td><img height="70vh" src="{{interest.image}}"></td>
                </tr>
            {% endfor %}
        </table>
                <p class="text"><b>Address: </b>{{city}}, {{state}}</p>
        -->

    </form>
    </div>

</body>
{% endblock %}