<html>
    {% extends "_base.html" %}
    {% block content %}

<head>
    <link rel="stylesheet" href="/i/style_isa.css">
</head>

<body>
    <div class="profile">
        <h1 class="text" >Profile</h1>

        <hr align="left">

        <p class="text"><b>Name: </b>{{first_name}} {{last_name}}</p>

        <label class="text" id="interests"><b>Interests:</b></label>
        <ul>
        {% for interest in interest_list %}

        <li class="text" class="blt">{{interest}}<br>

        {% endfor %}
        </ul class="text">

        <!-- function to print out the elements of the interest list -->

        <p class="text"><b>Address: </b>{{city}}, {{state}}</p>
    </div>
    
</form>

<img id="image1" class="pic" src="../i/images/image1.jpg">

<br><br><br><br><br><br><br>

</body>
{% endblock %}

</html>